div.static {
  position: static;
  border: 3px solid #33ff00;
}
div.relative {
  position: relative;
  left: 30px;
  border: 3px solid #ff0000;
}
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 1000px;
  border: 3px solid #00ccff;
}
#fixed2 {
  position: fixed;
  bottom: 20;
  right: 0;
  width: 1000px;
  border: 3px solid #00ccff;
}
body {
  height: 200vh;
}